.challenge{:"data-id" => "#{challenge.id}"}
	%h3
		=link_to challenge, challenge_path(challenge)

	- unless challenge.deadline.nil?
		.deadline
			=t("deadline", deadline: distance_of_time_in_words_to_now(challenge.deadline))