.challenge{:"data-id" => "#{challenge.id}"}
	%h2
		=link_to challenge, challenge_path(challenge)

	=link_to user_path(challenge.from) do
		%small=challenge.from
		=fb_image_tag challenge.from, :normal, :width => 50
