- statuses= challenge.statuses
.challenge{class: statuses}

	%h3=link_to challenge, challenge_path(challenge)

	.images
		=image_tag "versus.png", class: "versus"

		- if (statuses.include? :with_proofs)
			=link_to challenge_path(challenge) do
				=image_tag challenge.has_image_proofs?.photo.thumb, :class => "proof"

		.user_a
			=link_to challenge_path(challenge) do
				=image_tag challenge.from.image(:square)
				%span.name=challenge.from.to_s.split(" ").first

		- if statuses.include? :one_on_one
			.user_b
				=link_to challenge_path(challenge) do
					=image_tag challenge.invited_list.first.image(:square)
					%span.name=challenge.invited_list.first.to_s.split(" ").first

		- else
			.user_b
				=link_to challenge_path(challenge) do
					- if challenge.accepted_list.empty?
						- if not challenge.invited_list.first.nil?
							=image_tag challenge.invited_list.first.image(:square)
							%span.name=challenge.invited_list.first.to_s.split(" ").first
					- else
						=image_tag challenge.accepted_list.first.image(:square)
						%span.name=challenge.accepted_list.first.to_s.split(" ").first

	= challenge.perticipants 7

	= challenge.deadline

	= challenge.tools

	-#
		- if signed_in? 
			.challenge_tools
				- if challenge.can_accept?(current_user)
					=link_to t("accept"), [challenge,:accept], class: "accept"
				
				- if challenge.can_reject?(current_user)
					=link_to t("reject"), [challenge,:reject], class: "reject"




