!!!
%html
	%head
		%title 2da.re
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"

		:css
			.main{ margin:0 auto; text-align:center; margin-top:30%; max-width:500px;}
			.main p.mission{ font-size: 30px; margin-bottom:0px; text-transform:uppercase; }
			.main p.details{ border-top:1px solid black; border-bottom:1px solid black; }
			p{ margin:0px; padding:0px; padding:3px; }
	%body
		.main
			%p.mission
				Ready
				%span.red 2da.re
				your friends?
			%p.details Soon. Just hold on or come back!